/*faz o grid da pag inicial*/
.body_1{
    grid-gap: 20px; ;
    display: grid;
    grid-template-areas:
    "cabe cabe cabe"
    "meio meio meio"
    "roda roda roda";
}
/* faz o grid da pag de perguntas e muda a cor de fundo*/
body{
    grid-gap: 20px; ;
    display: grid;
    grid-template-areas:
    "cabe cabe"
    "meio meio"
    "roda roda";
    background: rgb(48, 47, 47);
}
/*muda a decoraçao das letras dos subtitulos*/
.under {
    text-decoration: underline;
}  
  .under2 {
    text-decoration: underline;
    text-align: center;
}  
/*coloca a acor braco como fundo da frase*/
.fundofrase{
    background-color: white;
}
/*muda a altura do height*/
.cabe{
    grid-area: cabe;
    background-color: rgb(255, 255, 255);
    height: 100px;
}
/*move o come alo lado da logo*/
.name{
    position: absolute;
    top: 10px;
    left: 100px;
}
.meio{
    grid-area: meio;
}
/*posiciona a logo*/
.logo{
    margin: 10px;
}
/* configura design no centro do main*/ 
.centro{
    margin-top: 10px;
    border: rgb(0, 0, 0) 5px solid;
    border-radius: 15px;
    word-break: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: rgb(156, 148, 148);
    font-size: 20px;
}
/*configura design no centro do main*/
.centro_2{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border: rgb(0, 0, 0) 5px solid;
    border-radius: 15px;
    word-break: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 150px;
    padding-top: 30px;
    background-color: rgb(156, 148, 148);
}
/*coloca no centro*/
.centraliza{
    text-align: center;
}
.roda{
    grid-area: roda;
}
/*configura design do fundo do main*/
.partefundo{
    justify-content: center;
    text-align: center;
    height: 55vh;
    position: relative;
    top: 150px;
}
/*design de button*/
.butao{
    background-color: rgba(199, 199, 199, 0.868);
    border: 3px black solid;
    border-radius: 7px;
    height: 60px;
    width: 100px;
    color: white;
}
/*designer para botao de entrar nos exercicios*/
.enter{
    background-image: url(img/fundo-PhotoRoom.jpg);
    padding: 0;
    margin: 0;
}
/*configura o botão*/
.buton{
    background-color: rgba(98, 49, 144, 0.844);
    border: 3px rgb(98, 49, 144);
    color: white;
    height: 45px;
    width: 100px;
    border-radius: 5px;
}
/*designer do foother*/
.footer-diagonal {
    width: 100%;
    float: left;
    overflow: hidden;
    line-height: 0;
}

.footer-diagonal svg {
    
    float: left;
    display: block;
    width: calc(100% + 1px);
    height: 45px;
    transform: rotateY(180deg);
    background-color: #323131;
}

.footer-diagonal .shape-fill {
    fill: #f4f4f4;
}

.main_footer          { background-color:#323131; color:#fff; font-size:1em; }
.main_footer .content { float:left; width:80%; margin:0 10%; padding: 2em 0; }

.container { float:left; width:100%; }
.colfooter { 
 
  width:100%; 
  height:auto;
  min-height: 100%; 
  float:left; 
  margin-bottom:2em;
}
.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; transition:0.2s; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { color:#fffb00; }

.colfooter .titleFooter   { 

    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    color: #ffffff;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px #424242 solid;

}

.colfooter p  { 

  font-family: 'Lato', sans-serif; 
  color:#ffffff; 
  font-size:1em; 
  height:25px; 

}

.colfooter .redesocial { 
    
    color: #ffffff;
    float: left;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    transition:0.2s;

}

.colfooter .redesocial:hover { 
    
    color: #fffb00;
    transition:0.2s;

}


.main_footer_copy          { background-color:#323131; width:100%; float:left; font-family: 'Lato', sans-serif; text-align:center; padding:1.5em 0em; }
.main_footer_copy .content { float:left; width:80%; margin:0 10%; padding:20px 0; border-top:1px #464646 solid; }
.main_footer_copy p { font-size:1em; color:#ffffff; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:#fff; text-decoration:none; font-weight:600; transition:0.2s; }
.main_footer_copy .by a:hover { text-decoration:underline; color:#fffb00 }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }

/*Responsivo*/

/*960PX BREAKPOINT*/
@media (min-width:60em){

  .footer-diagonal svg         { width: calc(100% + 1.3px); height: 160px; }
  .main_footer .content        { padding: 2em 0; }
  .colfooter .titleFooter      { border-bottom: 0px; }
  .colfooter                   { width:30%; min-height:200px; margin-right:5%; margin-bottom:0; border-right: 1px #424242 solid; }
  .colfooter:nth-of-type(3n+0) { margin-right:0; border-right:0;}

}
/*muda cores da letra ao responder com certo ou errado*/
.verde{
    color: green;
}
.vermelho{
    color: red;
}
/*responsividade*/

@media only screen and   (max-width: 768px) {
    body{
        grid-gap: 20px; ;
        display: grid;
        background-color: rgb(48, 47, 47);
        grid-template-areas:
        "cabe cabe"
        "meio meio"
        "roda roda";
    }
    .centro_2{
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
        border: rgb(0, 0, 0) 5px solid;
        border-radius: 15px;
        word-break: normal;
        font-family: Arial, Helvetica, sans-serif;
        padding: 30px;
        background-color: rgb(156, 148, 148);
    }
    .meio{
        grid-area: meio;
        padding: 0;
    }
    .enter{
        background-color: rgb(48, 47, 47);
        padding: 0;
        margin: 0;
    }
    .meio{
        grid-area: meio;
    }

}
@media only screen and   (min-width: 768px) {
    body{
        grid-gap: 20px; ;
        display: grid;
        background-color: rgb(48, 47, 47);
        grid-template-areas:
        "cabe cabe"
        "meio meio"
        "roda roda";
        font-size: 25px;
    }
    .centro_2{
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
        border: rgb(0, 0, 0) 5px solid;
        border-radius: 15px;
        word-break: normal;
        font-family: Arial, Helvetica, sans-serif;
        padding: 30px;
        background-color: rgb(156, 148, 148);
    }
    .meio{
        grid-area: meio;
        padding-left: 100px;
        padding-right: 100px;
    }

}
@media only screen and   (max-width: 368px) {
    .centro{
        font-size: 32px;
    }
    .centro_2{
        font-size: 32px;
    }
}






