body{

}
.cabe{
    background-color: rgb(54, 100, 130);
}
.name{
position: absolute;
left: 6%;
top: 8px;
}
.logo{
    margin: 10px;
}
.centro{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    border: black 2px solid;
    word-break: normal;
    font-family: Arial, Helvetica, sans-serif;
}