body{
    grid-gap: 20px; ;
    display: grid;
    grid-template-areas:
    "cabe cabe"
    "lado meio"
    "roda roda";
    background-color: rgb(255, 255, 255);
}
.under {
    text-decoration: underline;
  }  
  .under2 {
    text-decoration: underline;
    text-align: center;
  }  
.fundofrase{
    background-color: white;

}
.cabe{
    grid-area: cabe;
    background-color: rgb(255, 255, 255);
}
.name{
    position: absolute;
    left: 6%;
    top: 8px;
}
.meio{
    grid-area: meio;
}
.logo{
    margin: 10px;
}
.centro{
    margin-top: 10px;
    border: rgb(0, 0, 0) 5px solid;
    border-radius: 15px;
    word-break: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: rgb(156, 148, 148);
}
.centraliza{
    text-align: center;
}
.lado{
    grid-area: lado;
    border: 3px black solid;
    border-radius: 7px;
}
.roda{
    grid-area: roda;
}
.partefundo{
    justify-content: center;
    text-align: center;
    height: 55vh;
    position: relative;
    top: 200px;
}
.butao{
    background-color: rgba(199, 199, 199, 0.868);
    border: 3px black solid;
    border-radius: 7px;
    height: 60px;
    width: 100px;
    color: white;
}
.enter{
    background-image: url(img/fundo.jpg);
}










