*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
body{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}
.calcu{
    width: 400px;
    padding: .5em;
    background: #c4c4c4;
    color: #333;
    display: flex;
    flex-direction: column;
}
#calcu h3{
    font-size: .8em;
    font-weight: 300;
    color: #666;
}
#operacao{
    text-align: right;
}
#prvious-operation{
    color: #777;
}
#current-operation{
    font-size: 3em;
    font-weight: 700;
}
#current-operation,
#prvious-operation{
    min-height: 1.6em;
    padding: .2em;
    overflow-wrap: break-word;
}
.button_conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}
.button_conteiner button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}
.button_conteiner .numbe{
    background-color: #f3f3f3;
}
.butao_conteiner button:hover{
     background-color: #bababa;
     border-color: #999;
}
.button_conteiner .igual{    
    grid-column: span 2;
    background-color: #75a5cb;
}
.button_conteiner .igual:hover{    
    grid-column: span 2;
    background-color: #3a91d8;
}